.dashboard {
    -fx-background-color: #EEEEEE;
}

.user_name {
    -fx-font-size: 2.6em;
    -fx-font-family: "Calibri Light";
}

date_lbl {
    -fx-text-fill: #AAAAAA;
    -fx-font-size: 1.1em;
    -fx-font-family: "Calibri Light";
}

.account_view {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 10 0 0 10;
    -fx-padding: 10 0  10 0;
    -fx-alignment: center;
    -fx-border-width: 0 1 0 0;
    -fx-boder-color: #DDDDDD;
    -fx-spacing: 10;
}

.account {
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, #AAAAAA,10, 0, 0 ,10);
    -fx-spacing: 15;
    -fx-padding: 15 5 15 5;
    -fx-end-margin: 10;
}

.account Vbox {
    -fx-background-color: #FFFFFF;
}

.account Label{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Calibri ;
    -fx-font-size: 1.1em;
}

.account FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.account_gradient {
    -fx-background-color: linear-gradient(to right,#132A13,#253F25);
}

.account_item {
    -fx-spacing: 10;
}

.section_title {
    -fx-font-size: 1.3em;
    -fx-font-family: Calibri;
    -fx-font-weight: bold;
}

.date_title {
    -fx-tex-fill: #DDDDDD;
    -fx-font-weight: 400;
    -fx-font-size: 1em;
}

.schedule_container {
    -fx-spacing: 5;
    -fx-padding: 0 10 0 10;
    -fx-background-radius: 5;
}

.schedule_item {
    -fx-background-color: #e7e8e2;
    -fx-spacing: 7;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box,#DDDDDD,1,0,0,2);
}

.schedule_item VBox Label {
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-font-size: 0.9em;
}

.schedule_item VBox Text {
    -fx-fill: #333333;
}

.schedule_item VBox {
    -fx-alignment: center;
}

.schedule_part{
    -fx-background-radius: 5;
    -fx-text-alignment: center;
    -fx-pref-height: 50;
}

.active {
    -fx-background-color: #EEFFEE;
}

.inactive {
    -fx-background-color: #f5c6c6;
}

